
    <table class="table table-bordered table-condensed table-striped table-hover  ">
        <thead>
        <tr>
            <th style="cursor: pointer" ng-show="c.inTable"
                ng-repeat="c in ordered_columns|orderBy:'orderColumn'" class="{{c.class}}">

                <i style="float: left;margin-right: 5px;opacity: 0.2" class="fa"
                   ng-class="{'fa-sort':ghfiltername!=c.id && c.order==true,'fa-sort-desc':ghfiltername==c.id && ghrev  && c.order==true,'fa-sort-asc':ghfiltername==c.id && !ghrev  && c.order==true}"></i>

                <div style="position:relative" ng-show="c.filter==true">
                    <div ns-popover class="ui-grid-column-menu-button"
                         ns-popover-template="popover-data-table.html"
                         ns-popover-trigger="click"

                         ns-popover-hide-on-click="false"

                         ns-popover-theme="ns-popover-tooltip-theme"
                            ><span
                            class="caret"></span>

                    </div>
                </div>
                <p ng-click="ghOrder(c.id)" style="margin-left: 8px"> {{ c.name|capitalize }} </p>

            </th>
        </tr>
        <tbody>
        <tr ng-repeat="value in data" class="animate-repeat">
            <td ng-repeat="c in ordered_columns|orderBy:'orderColumn'" ng-show="c.inTable" ng-switch on="c.type">

                <p ng-switch-when="text" class="{{c.colType}}">{{ value[c.id] }} <i
                        ng-show="c.colType=='ngtemplate-percentage'">%</i></p>

                <p ng-switch-when="date" class="{{c.colType}}">{{ value[c.id]|date:'dd-MM-yyyy HH:mm:ss' }} </p>

                <p ng-switch-when="html" class="{{c.colType}}" ng-type-html="" content="value[c.id]"></p>

                <p ng-switch-when="customhtml" class="{{c.colType}}" ng-type-html="" content="c.customHTML"></p>

                <p ng-switch-when="sparkline" class="{{c.colType}}" sparkline="" data="value[c.id]"></p>

                <p ng-switch-default class="{{c.colType}}" ng-type type="c.type" data="value[c.id]"></p>

            </td>
        </tr>
        </tbody>
    </table>
