<div>
    <table class="table table-bordered table-striped tree-grid">
    <thead class="">
    <tr>
        <th class="{{colDefinitions[0].class}}">{{expandingPropertyName}}</th>
        <th ng-repeat="col in colDefinitions" ng-if="col.field!==expandingProperty" ng-show="col.inTree" class="{{c.class}}">

            {{(col.displayName || col.field)|capitalize}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-init="value=row.branch;"  ng-repeat="row in tree_rows | filter:{visible:true} track by row.branch.uid"
    ng-class="'level-'+{{ row.level+(row.branch.selected ? ' active':'')}}" class="tree-grid-row">
    <td class=""><a style="color:#000000;text-decoration: none" ng-click="user_clicks_branch(row.branch)"><i ng-class="row.tree_icon"
                                                                     ng-click="row.branch.expanded = !row.branch.expanded"
        class="indented tree-icon"></i>
        <i ng-class="row.tree_icon_value"

           class="indented tree-icon"></i>
    </a><span class="indented tree-label" ng-click="user_clicks_branch(row.branch)" ng-switch on="(colDefinitions|filter:expandingProperty:true)[0].type">


        <span ng-switch-when="text" class="{{(colDefinitions|filter:expandingProperty:true)[0].colType}}">{{ row.branch[expandingProperty] }}<i ng-show="(colDefinitions|filter:expandingProperty:true)[0].colType=='ngtemplate-percentage'">%</i></span>

        <span ng-switch-when="date" class="{{(colDefinitions|filter:expandingProperty:true)[0].colType}}">{{ row.branch[expandingProperty] }} </span>

        <span  ng-switch-when="html" class="{{(colDefinitions|filter:expandingProperty:true)[0].colType}}" ng-type-html="" content="row.branch[expandingProperty]" > </span>

        <span  ng-switch-when="customhtml" class="{{(colDefinitions|filter:expandingProperty:true)[0].colType}}" ng-type-html="" content="(colDefinitions|filter:expandingProperty:true)[0].customHTML" > </span>

        <span ng-switch-when="sparkline"  class="{{(colDefinitions|filter:expandingProperty:true)[0].colType}}" sparkline="" data="row.branch[expandingProperty]" > </span>

        <span  ng-switch-default class="{{(colDefinitions|filter:expandingProperty:true)[0].colType}}" ng-type type="(colDefinitions|filter:expandingProperty:true)[0].type" data="row.branch[expandingProperty]" > </span>


    </span>
    </td>
    <td ng-if="col.field!==expandingProperty"   ng-show="col.inTree"  ng-repeat="col in colDefinitions" ng-switch on="col.type">

        <p ng-switch-when="text" class="{{col.colType}}">{{ row.branch[col.id] }} <i ng-show="col.colType=='ngtemplate-percentage'">%</i></p>

        <p ng-switch-when="date" class="{{col.colType}}">{{ row.branch[col.id] }} </p>

        <p  ng-switch-when="html" class="{{col.colType}}" ng-type-html="" content="row.branch[col.id]" > </p>

        <p  ng-switch-when="customhtml" class="{{col.colType}}" ng-type-html="" content="col.customHTML" > </p>

        <p ng-switch-when="sparkline"  class="{{col.colType}}" sparkline="" data="row.branch[col.id]" > </p>

        <p  ng-switch-default class="{{col.colType}}" ng-type type="col.type" data="row.branch[col.id]" > </p>



    </td>
    </tr>
    </tbody>
    </table>
</div>